


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-position : center;
}


#text {
  margin-top: 100px;
  text-align: center;
  font-size: 800;
}


#uid, #pwd {
  width: 180px;
  height: 30px;
}

#text2 {
	  margin-top: 100px;
	  margin-bottom : 20px;
}

#deleteForm {
  text-align: center;
  padding:0;
  margin : auto;
  width : 480px;
  height : 400px;
  margin-top : 5px; 
  margin-bottom : 30px;
}

#realDeleteBtn {
  display: inline-block;
  margin: 2px;
  width : 350px;
  height : 50px;
  background-color:#ffb858;
  border : 2px solid #e78f18;
  border-radius: 5px;
  margin-top : 20px;
  margin-bottom : 100px;
  color : white;
  font-size : 17px;
  font-weight: 700;
  
}

#info {
	color : #868686;
}


#deleteForm button a {
	color : white;
	font-size : 17px;
	font-weight: 700;
}



/* 
button {
	display : inline;
}


#text {
  font-size: 24px;
  margin-bottom: 20px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.gender {
  display: flex;
  justify-content: center;

}

.gender input {
  margin-right: 10px;
}

#gender {
  margin-left: 10px;
} */