@charset "UTF-8";

form {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 100px;
}

#text {
  margin-top: 100px;
  text-align: center;
}


#text2 {
  text-align: center;
}

#idFindForm {
  margin-top: 50px;
}

h3 {
 text-align: center;
}

.idFindResult {
	
	width : 500px;
	height : 500px;
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left : 29%;
    text-align: center;
}

.idResult {
  margin-top: 50px;
}

#goToLogin {
	margin : auto;
    display: block;
    margin-top : 50px;
    margin-bottom : 100px;
    width: 350px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #ffb858;
    border: 2px solid #e78f18;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#goToLogin a {
    color: #fff;
}

.uname, .id {
  width: 350px;
  height: 45px;
  border-radius: 5px;
  border : 2px solid rgb(227, 227, 227);
}

/* #phone {
  width: 350px;
  height: 45px;
  border-radius: 5px;
  border : 2px solid rgb(227, 227, 227);
} */

#idFind2 {
	display: block;
    margin-top : 20px;
    margin-bottom : 100px;
    width: 350px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #ffb858;
    border: 2px solid #e78f18;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

