


form {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#insertForm {
	margin: 20px auto;
}

container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}
  
.form-group {
  	margin-top:20px;
    margin-bottom: 20px;
}
  
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
  input[type="text"],
  input[type="password"],
  select {
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.updateBtn {
	display: inline-block;
    margin-top: 5px;
    width: 172px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #ffb858;
    border: 2px solid #e78f18;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
  

  
  #homeButton {
  	display: inline-block;
  	margin-top:5px;
    margin-bottom: 100px;
    width: 350px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #ffb858;
    border: 2px solid #e78f18;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

.gender {
  display: flex;
  justify-content: center;

}

.gender input {
  margin-right: 10px;
}

#gender2 {
  margin-left: 80px;
}