@charset "UTF-8";

#mForm {
	display: flex;
    flex-direction: column;
    align-items: center;
/*     margin-top : 100px; */
}


#idFindForm {
  margin-top: 50px;
}

h3 {
 text-align: center;
}

.pwdFindForm {
	
	width : 500px;
	height : 500px;
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left : 29%;
    text-align: center;
}

.idResult {
  margin-top: 50px;
}

#goToLogin a {
    color: #fff;
}

#name1, #phone {
  width: 350px;
  height: 45px;
  border-radius: 5px;
  border : 2px solid rgb(227, 227, 227);
}


.idFind2 {
    display: block;
    margin-top : 20px;
    margin-bottom : 100px;
    width: 350px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #ffb858;
    border: 2px solid #e78f18;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

