@charset "UTF-8";

#container {
    margin: 0 auto;
}

/* 링크 스타일 */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

#text {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

/* 게시판 테이블 */
table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px; /* 테이블 모서리 둥글게 */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* 가운데 정렬로 변경 */
}

tr {
    background-color: white;
}

th {
    background-color: #ffb858;
}

.buttons {
    text-align: right;
    margin: 0 auto;
    width: 71.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 버튼 스타일 수정 */
.button, #searchTitleBtn2 {
line-height: 10px;
    display: inline-block;
    background-color: #ffb858;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #e78f18;
    border-radius: 5px;
    margin-right: 10px;
    position: static;
}

.button a {
	color: white;
}



.buttons {
    margin-top: 20px;
}

#searchTitle {
	float : right;
	width : 250px;
	height: 30px;
}

#pageLength {
	margin-right : 20px;
}


#searchTitleBtn {
	height: 30px;
	background-color: #ffb858;
	color: white;
	cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #e78f18;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    margin-right: 10px; /* 버튼 간격 조정 */
    padding: 0 10px; /* 버튼 가로 간격 조정 */
}

/* 고정여부가 'Y'인 행에 배경색 적용 */
tr.fixed-row {
	font-weight: 700;
    /* background-color: #eeeeee; 연한 회색 배경색 */
}
