@charset "UTF-8";

#container {
    margin: 0 auto;
}

#text {
    margin-top: 100px;
    text-align: center;
}

/* 게시판 컨테이너 스타일 */
.write {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px; /* 컨테이너 모서리 둥글게 */
}

/* 제목 스타일 */
h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* 작성자 정보 스타일 */

/* 작성날짜 스타일 */
.reg_date {
    font-style: italic;
}

/* 내용 스타일 */
.contents {
	margin-top: 20px;
	padding: 15px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	border-radius: 5px;
	min-height : 300px;
}

/* 버튼 스타일 */
.board_button {
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
    margin-top: 20px; /* 버튼 위 간격 조정 */
}

.button {
    display: inline-block;
    background-color: #ffb858;
    color: white;
    border: none;
    padding: 10px 20px; /* 버튼 가로 간격 조정 */
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #e78f18;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    margin-right: 10px; /* 버튼 간격 조정 */
}

.button a {
	color: white;
}


