@charset "UTF-8";

#container2 {
    margin: 0 auto;
}

a2 {
    text-decoration: none;
    color: black;
}

#text2 {
    margin-top: 100px;
    text-align: center;
}



.write2 {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px; /* 컨테이너 모서리 둥글게 */
}

.text_title2 {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.notice_ct2 {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    
.board_button2 {
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
    margin-top: 20px; /* 버튼 위 간격 조정 */
}


.button2 {
    display: inline-block;
    background-color: #ffb858;
    color: white;
    border: none;
    padding: 10px 20px; /* 버튼 가로 간격 조정 */
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #e78f18;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    margin-right: 10px; /* 버튼 간격 조정 */
}


.button a2 {
	color: white;
}


.radio-group2 {
	display: inline-block;
	margin-top: 10px;
	font-size: 16px;
}

.radio-group label2 {
	margin-right: 20px;
}